/*--------------------------------------------------------------
CSS Reset
--------------------------------------------------------------*/
html {
	font-family: sans-serif;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}



h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

img {
	display: block;
	border: 0;
	width: 100%;
	height: auto;
}

figure {
	margin: 0;
}

hr {
	box-sizing: content-box;
	height: 0;
}
